html,body,ul,li,div,span
{
	padding: 0;
	margin:0;
}
*
{
	box-sizing: border-box;
	position: relative;
}
body
{
	background-color: #505050;
}
.table
{
	display: table;
}
.table-cell
{
	display: table-cell;
	vertical-align: middle;
	margin: auto;
}
.margin
{
	margin: auto;
}
.full
{
	height: 100%;
	width: 100%;
}
.animation-holder
{
	background-color: #f4f4f4;
	height: 600px;
	width: 400px;
	margin: auto;
}
.body
{
	height: 100%;
	width: 100%;
}
.body *
{
	position: absolute;
}
.head
{
	height: 60px;
	border-radius: 50%;
	background-color: black;
	top: 60px;
	margin: auto;
	left: 0;
	right: 0;
}
.spine
{
	height: 170px;
	background-color: black;
    top: 116px;
	margin: auto;
	left: 0;
	right: 0;
}
.spine,.hand
{
    width: 16px;
}
.hip,.head,.foot,.shoulder
{
	width: 60px;
}
.hip
{
	background-color: black;
	height: 16px;
    top: 275px;
	margin: auto;
	left: 0;
	right: 0;
	border-radius: 8px;
}
.shoulder
{
	background-color: black;
	height: 16px;
	width: 65px;
    top: 125px;
	margin: auto;
	left: 0;
	right: 0;
	border-radius: 8px;
}
.hands
{
	width: 0px;
    margin: auto;
    left: 0;
    right: 0;
    top: 125px;
}
.hand1,.hand2,.hand3,.hand4
{
	background-color: blue;
	height: 16px;
	width: 50px;
    top: 275px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
}
.hand2
{
	background-color: orange;
	width: 80px;
}
.hand3
{
	background-color: blue;
	width: 30px;
}
.hand4
{
	background-color: orange;
	width: 20px;
}
.left-hand
{
	right: 18px;
	left: auto;
	border-radius: 8px;
	
    transform-origin: right center;
}
.right-hand
{
	left: 20px;
	border-radius: 8px;
    transform-origin: left center;
}
.hand2.left-hand
{
	right:56px;
}
.hand2.right-hand
{
	left: 60px;
}
.hand3.left-hand
{
	right:124px;
}
.hand3.right-hand
{
	left: 128px;
}
.hand4.left-hand
{
	right:142px;
}
.hand4.right-hand
{
	left: 148px;
}
.legs
{
	width: 0px;
    margin: auto;
    left: 0;
    right: 0;
    top: 265px;
}
.thigh
{
	background-color: green;
	width: 16px;
    height: 80px;
    margin: auto;
    top: 18px;
    left: 15px;
    right: 0;
	border-radius: 8px;
}
.leg
{
	background-color: brown;
	width: 16px;
    height: 80px;
    top: 90px;
    margin: auto;
	border-radius: 8px;
	
}
.left-leg
{
    right: 0px;
    left: -45px;
	transform-origin: top center;
}
.right-leg
{
    left: 14px;
    right: 0;
	transform-origin: top center;
}
.feets
{	
	width: 0px;
    margin: auto;
    left: 0;
    right: 0;
    top: 330px;
}
.foot1,.foot2
{
	background-color: black;
	width: 20px;
    height: 16px;
    top: 89px;
    margin: auto;
	border-radius: 8px;
}
.foot2
{
	background-color: red;
}
.foot1.left-foot
{
	left: -42px;
	right: auto;
}
.foot1.right-foot
{
	left: 22px;
    right: 0;
}
.foot2.left-foot
{
	left: -54px;
	right: auto;
}
.foot2.right-foot
{
	left: 34px;
    right: 0;
}
#hand1
{
	animation: hand1 16s linear forwards;
}


@keyframes hand1
{
	0%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	6.25%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	12.5%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	18.75%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	25%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	31.25%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	37.5%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	43.75%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	50%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	56.25%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	62.5%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	68.75%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	75%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	81.25%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	87.5%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	93.75%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
	100%
	{
		transform: rotate(0deg) translatex(0) translatey(0);
	}
}

@keyframes test
{
	0%
	{
		background-color: green;	
	}
	100%
	{
		background-color: red;
	}
}