


/*GAPE ADJUSTION jithin ag edit*/
.hand1.left-hand{
  right:0px;
 
}

.hand1.right-hand{
  left:0px;
 
}

.hand2.left-hand
{
	right:0px;
}
.hand2.right-hand
{
	left:0px;
}

.hand3.left-hand
{
	right:0px;
}

.hand3.right-hand
{
	left: 0px;
}
.hand4.left-hand
{
	right:13%;
}
.hand4.right-hand
{
	left: 13%;
}

.legs
{
	width: 0px;
    margin: auto;
    left: 0;
    right: 0;
    top: 265px;
}
.thigh
{
	background-color: green;
	width: 16px;
    height: 80px;
    margin: auto;
    top: 18px;
    left: 15px;
    right: 0;
	border-radius: 8px;
}
.leg
{
	background-color: brown;
	width: 16px;
    height: 80px;
    top: 90px;
    margin: auto;
	border-radius: 8px;
	
}
.left-leg
{
    right: 0px;
    left: -45px;
	transform-origin: top center;
}
.right-leg
{
    left: 14px;
    right: 0;
	transform-origin: top center;
}
.feets
{	
	width: 0px;
    margin: auto;
    left: 0;
    right: 0;
    top: 330px;
}
.foot1,.foot2
{
	background-color: black;
	width: 20px;
    height: 16px;
    top: 89px;
    margin: auto;
	border-radius: 8px;
}
.foot2
{
	background-color: red;
}
.foot1.left-foot
{
	left: -42px;
	right: auto;
}
.foot1.right-foot
{
	left: 22px;
    right: 0;
}
.foot2.left-foot
{
	left: -54px;
	right: auto;
}
.foot2.right-foot
{
	left: 34px;
    right: 0;
}
/* container divs setup */

#lhand14{
right:20px;
 width:150px;
  height:20px;
 /*border:1px solid green;*/
  transform-origin: right center;
}

#lhand24{
  width:150px;
  right:27%;
   height:20px;
     /*border:1px solid magenta;*/
  transform-origin: right center;
   }

#lhand34{
   width:150px;
  right:40%;
   height:20px;
    /*border:1px solid grey; */
  transform-origin: right center;
  
}

#rhand14{
left:20px;
 width:150px;
  height:20px;
 /*border:1px solid green;*/
  transform-origin: left center;
}

#rhand24{
  width:150px;
   left:27%;
   height:20px;
    /*border:1px solid magenta; */
  transform-origin: left center;
}
   

#rhand34{
   width:150px;
  left:40%;
  height:20px;
    /*border:1px solid grey; */
  transform-origin: left center;
}
  





